# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code settings (if you're using VS Code)
.vscode/

# Mac OS / Windows trash files
.DS_Store
Thumbs.db